.page-header {
    background-color: white;    
}

.crystals {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}


.crystalImage {
    border: 1px solid black; 
    height: 200px; 
    width: 200px; 
}

