.page-header {
    background-color: white;
    font-family: 'Sacramento', cursive;
}

h4 {
    font-family: 'Oswald', sans-serif;
    display: inline;
    font-size: 22px;
}

p {
    display: inline;
    font-size: 18px; 
}


.crystals {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}


.crystalImage {
    height: 150px; 
    width: 150px; 
}

.crystalImage:hover {
    cursor: pointer; 
    box-shadow: 10px 10px 8px lightgray;
}

#targetNumber {
    font-family: 'Oswald', sans-serif;  
    font-size: 22px;
}

.panel-footer {
    font-size: 12px; 
    font-family: 'Oswald', sans-serif;  
    text-align:center; 
}

#previousNumber {
    font-family: 'Oswald', sans-serif;  
    font-size: 22px;
}

#wins {
    font-family: 'Oswald', sans-serif;  
    font-size: 22px;
}

#losses {
    font-family: 'Oswald', sans-serif;  
    font-size: 22px;
}