.page-header {
    background-color: white;
    font-family: 'Sacramento', cursive;
}

h4 {
    font-family: 'Oswald', sans-serif;
    display: inline;
}

p {
    display: inline;
    font-size: 18px; 
}


.crystals {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}


.crystalImage {
    height: 150px; 
    width: 150px; 
}

#targetNumber {
    font-family: 'Oswald', sans-serif;  
}
